.main-container {
    @extend %container;

    display: flex;
    justify-content: center;
}

.site-main {
    padding: 15px;

    @include media-up("md") {
        width: $content-width-wide;
    }
}