.entry-title {
    a {
        color: darken(get-color('blue', 'darken-4'), 10%);
    }
}

.btn-read-more {
    color: white;
	background-color: darken(get-color('blue', 'accent-4'), 25%);
	
	&:hover {
		color: white;
		background-color: darken(get-color('blue', 'accent-4'), 10%);
	}
}

html.single {
	margin-top: 0 !important;
}

body.single {
	height: 100%;
}

.content-wrap {
	height: 100%;
	display: flex;
}

.toc-wrap {
	background: #000;
	width: 250px;
	margin-left: -250px;
	margin-right: 20px;
	overflow-y: auto;
	transition: 0.5s ease-in;

	@include media-up('lg') {
		width: 300px;
		margin-left: 0px;
	}

	a {
		text-decoration: none;
	}

	.back-to-main {
		border-bottom: 1px solid #444;

		&:hover {
			background: #333;
		}

		a {
			display: block;
			color: white;
			padding: 1rem;
		}
	}

	.level-0 {
		padding-left: 0;
		margin: 0;

		li {
			padding: 10px;
			list-style: none;

			&:hover {
				background: #333;
			}

			a {
				display: block;
				width: 100%;
				color: #d3d3d3;
			}

			.current {
				color: #69abf3;
			}
		}
	}
}

.hide-toc .toc-wrap {
	transition: 0.5s ease-in;
	margin-left: -250px;
	@include media-up('lg') {
		margin-left: -300px;
	}
}

.main {
	width: 100%;
	padding: 10px;
	padding-bottom: 0;
	overflow-y: auto;

	.main-content-area {
		max-width: 100%;
		padding: 10px;
		padding-bottom: 0;

		@media(min-width: 1300px) {
			width: 960px;
			margin: 0 auto;
		}
	}

	.menu {
		display: flex;

		.menu-right {
			display: flex;
			margin-left: auto;
		}

		.menu-button {
			@include flex-center();
			
			&>a{
				font-size: 1.5rem;
				border: 1px solid #ddd;
				border-radius: .5rem;
				cursor: pointer;

				color: black;
				padding: .5rem;

				&:hover {
					background: #ddd;
				}
			}
		}
	}

	.content-wrap {
		display: flex;
		flex-direction: column;
		width: 100%;

		.title {
			border-bottom: 1px solid #6dcff6;

			.entry-title {
				font-size: 2.5rem;
				margin: 0.6rem 0 0.9rem;
			}
		}

		.content {
			h1, h2 {
				font-size: 1.5rem;
			}

			h3 {
				font-size: 1.3rem;
			}

			p {
				margin: 0.8rem 0;
			}
		}
	}

	.next {
		display: flex;

		padding: 1rem 0;
		align-items: center;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
	}
}

.signup-form {
	border-radius: 0.5rem;
	padding: 1rem;
	box-sizing: border-box;

	background: darkslateblue;
	color: white;
	margin: get-space(3) 0;

	.cta {
		font-size: 1.3rem;
		margin-bottom: get-space(3);
	}
}

.hidden {
	visibility: hidden;
}

.dropdown-content {
	visibility: hidden;
	
	position: absolute;
	background-color: #f9f9f9;
	
	min-width: 3rem;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	right: 0;
	top: 1.5rem;

	& > a {
		display: block;
		color: black;
		padding: 0.5rem 1rem;
		text-decoration: none;
		font-size: 0.5rem;
		max-height: 0;
		transition: 0.1s ease-in;

		&:hover {
			background-color: #f1f1f1
		}
	}
}

.show {
	visibility: visible;

	& > a {
		max-height: 2rem;
		transition: 0.3s ease-in;
	}
}

.comments {
	.comments-title {
		margin: get-space(4) 0;
	}

	ol {
		list-style-type: none;
		padding: 0;

		&.comment-list {
			&>li {
				border-bottom: 1px solid get-color('grey', 'lighten-2');

				article {
					margin: get-space(3) 0;
				}
	
				.comment-author {
					margin-bottom: get-space(3);
				}
			}
		}

		.says {
			display: none;
		}

		.fn {
			margin-left: get-space(3);
		}

		.comment-metadata {
			a {
				display: none;
			}
		}

		.children {
			padding: 0 get-space(4);
		}
	}
}

body.night-mode {
	background: #0a0a0a;
}

.night-mode {
	.main {
		color: white;
		.menu-button {
			border: 1px solid #777;
			
			&>a {
				color: white;
			}
		}
	}

	.dropdown-content {
		background-color: #090909;

		& > a {
			color: white;
			&:hover {
				background-color: #444;
			}
		}
	}
}    

// Adding basic WordPress classes to pass the WordPress.org tests
.sticky,
.gallery-caption,
.bypostauthor {
  font-size: inherit;
}

// Limit featured image size to 100%
img.wp-post-image,
article img,
figure,
img,
#secondary img {
  max-width: 100%;
  height: auto;
}

.wp-caption { font-size: inherit; }

.wp-caption-text { font-size: inherit; }

.screen-reader-text { font-size: inherit; }

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter { margin: 0px auto; }