.site-footer {
    position: relative;
    background: white;
    margin-top: get-space(5);
    
    .footer-cta {
        background-color: get-color('pink', 'lighten-4');
        padding: get-space(5) 0;

        .bottom-cta-message {
            font-weight: bold;
            font-size: 2rem;
        }
    }

    .footer-main {
        background-color: darken(get-color('indigo', 'darken-4'), 15%);
        padding: get-space(3) 0;

        .footer-main-section {
            color: white;

            hr {
                background-color: get-color('indigo');
            }

            .search-form-wrap {
                margin-bottom: get-space(4);
            }

            ul {
                padding-left: 0;

                li {
                    list-style-type: none;
                    margin-bottom: get-space(2);
                }
            }

            .footer-icon {
                margin-right: get-space(3);
            }
        }
    }

    .footer-copyright {
        background-color: darken(get-color('indigo', 'darken-4'), 25%);
        color: white;

        padding: get-space(3) 0;

        text-align: center;
    }
}

.social-navigation {
    @include flex-center();

    ul {
        display: flex;
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 0;

        li {
            a {
                @include flex-center();
                color: white;
                height: 40px;
                width: 40px;
                border-radius: 40px;
                margin: 0 0.5rem;
                font-size: 1.5rem;
                box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 1px -1px rgba(0, 0, 0, 0.25);

                &:hover,
                &:focus {
                    background-color: darken(get-color('blue', 'accent-4'), 10%);
                }
            }
        }
    }
}

.copyright-text {
    font-size: 0.9rem;
}

.legal-navigation {
    @include flex-center;

    ul {
        display: flex;
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 0;

        li {
            a {
                color: white;
            }
        }
    }
}