.fpc-section {
    margin-top: 3rem;
}

.fpc-section-title {
    font-weight: bold;
    font-size: 1.2rem;
    color: get-color("grey", "darken-4");
    text-transform: uppercase;

    margin-bottom: 0;

    @include media-up('lg') {
        font-size: 1.6rem;
    }
}

.fpc-hr {
    margin-top: .2rem;
    margin-bottom: 1.2rem;
}

.fpc-article {
    background-color: get-color("grey", "lighten-3");
    padding: 1.2rem .8rem;
    margin-bottom: 1rem;
    border-radius: .3rem;
    box-shadow: 
        0 2px 5px 0 rgba(0,0,0,.25), 
        0 2px 10px 0 rgba(0,0,0,.13);
    
    @include media-up('md') {
        display: flex;
    }
}

.fpc-article-thumbnail {
    width: 100%;
    min-height: 200px;
    margin-bottom: 1rem;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,.3);
    background-repeat: no-repeat;
    background-size: cover;

    @include media-up('md') {
        width: 40%;
        min-height: 200px;
        margin-right: 1rem;
    }
}

.fpc-article-text {
    @include media-up('md') {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.fpc-article-title {
    a {
        color: black;
    }
}

.fpc-article-summary {
    color: get-color("grey", "darken-4");
}

.fpc-button-wrap {
    display: flex;
    justify-content: center;
}

.fpc-read-more-button {
    @extend %btn;
    background-color: $primary;

    &:hover {
        background-color: darken($primary, 10%);
    }
}
