.header {
	height: 100vh;
}

.topnav {
	@extend %navbar;
	@extend %navbar-transparent-bg;
	//@extend %fixed-top;
	@extend %show-on-scroll-up;
}

.topnav-container {
	@extend %navbar-container;
}

.topnav-brand {
	@extend %navbar-brand;
}

.topnav-collapse {
	@extend %navbar-collapse;
	@extend %slide-to-left;
	background-color: $navbar-background-color;

	&.show {
		@extend %slide-to-left-show;
	}

	@include media-up("lg") {
		background-color: transparent;
	}
}

.topnav-toggler {
	@extend %navbar-toggler;
}

.topnav-main-nav {
	@extend %navbar-nav;
	margin-right: auto;

	.nav-link {
		@extend %navbar-nav-link;
	}
}

.topnav-social-nav {
	@extend %navbar-nav;
	flex-direction: row;

	.nav-link {
		@extend %navbar-nav-link;
	}
}

.topnav-dropdown {
	@extend %navbar-dropdown-menu;
}

.hero {
	height: 100%;
	@include background-image('https://mdbootstrap.com/img/Others/landings/concert.jpg');
}

.hero-container {
	@include overlay();
	background-color: trans-color("black", "base", 3);

	@include flex-center();
	flex-direction: column;
	color: white;

	.hero-message {
		text-align: center;
	}
}

.hero-title {
	font-size: font-size('h1');
	font-weight: bold;
	margin-bottom: get-space(0);

	@include media-up("md") {
		font-size: font-size('d4');
	}
}

.hero-hr {
	border: 1px solid #fff;
	@include my(3);
}

.hero-subhead {
	padding: get-space(2) 0 get-space(3);
}

.hero-cta-btn {
	@extend %btn-lg;
	@extend %btn-rounded;
	background-color: get-color("pink");

	&:hover {
		background-color: get-color("blue", "lighten-2");
	}
}