$hero-height: 75vh;

.hero-area {
	position: relative;
	height: 120vh;

	@media(min-width: 1000px) {
		height: $hero-height;
	}
}

.hero-background-image img {
	position: fixed;
	height: auto;
	left: 50%;
	max-width: 1000%;
	min-height: $hero-height;
	min-width: 100%;
	min-width: 100vw; /* vw prevents 1px gap on left that 100% has */
	width: auto;
	top: 50%;
	padding-bottom: 1px; /* Prevent header from extending beyond the footer */
	transform: translateX(-50%) translateY(-50%);
}

.admin-bar .hero-background-image img {
    margin-top: 32px;
}

@supports ( object-fit: cover ) {
	.hero-background-image img {
		height: $hero-height;
		left: 0;
		-o-object-fit: cover;
		object-fit: cover;
		top: 0;
		-ms-transform: none;
		-moz-transform: none;
		-webkit-transform: none;
		transform: none;
		width: 100%;
	}
}

.hero-message {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center; 

	top: 0;
    width: 100%;
	height: 100%;

	color: white;
}
