@function get-space($size) {
    $spacer: 1rem;
    $spacers: (
        0: 0,
        1: ($spacer * .25),
        2: ($spacer * .5),
        3: $spacer,
        4: ($spacer * 1.5),
        5: ($spacer * 3)
    );
    
    @return map-get($spacers, $size);
}

@mixin flex-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-vertical-center() {
    display: flex;
    align-items: center;
}

@mixin flex-hr() {
    // Check why it is needed in https://stackoverflow.com/questions/34365271/hr-inside-container-with-display-flex-become-corrupted
    hr {
        width: 100%;
    }
}

@mixin container() {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    @include media-up("lg") {
        width: 1200px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@mixin media-up($size) {
    $breakpoints: (
        "md": 768px,
        "lg": 1200px,
    );

    @media(min-width: map-get($breakpoints, $size)) {
        @content;
    }
}

%container {
    @include container();
}

%container-full {
    @include container();

    @include media-up("lg") {
        width: 100%;
    }
}

$content-width: 760px;
$content-width-wide: 950px;