@mixin overlay() {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@mixin trans-bg($color, $shade, $level) {
    @if ( $shade == 'base' ) {
        .bg-transparent-#{$color}-#{$level} {
            @include overlay();
            background-color: trans-color($color, $shade, $level);
        }
    } @else {
        .bg-transparent-#{$color}-#{$shade}-#{$level} {
            @include overlay();
            background-color: trans-color($color, $shade, $level);
        }
    }
}
