@mixin mx($size, $bp: "none") {
    @if $bp == "none" {
        margin-left: get-space($size);
        margin-right: get-space($size);
    } @else {
        @include media-up($bp) {
            margin-left: get-space($size);
            margin-right: get-space($size);
        }
    }
}

@mixin my($size, $bp: "none") {
    @if $bp == "none" {
        margin-top: get-space($size);
        margin-bottom: get-space($size);
    } @else {
        @include media-up($bp) {
            margin-top: get-space($size);
            margin-bottom: get-space($size);
        }
    }
}

@mixin m($size, $bp: "none") {
    @include mx($size, $bp);
    @include my($size, $bp);
}

@mixin px($size, $bp: "none") {
    @if $bp == "none" {
        padding-left: get-space($size);
        padding-right: get-space($size);
    } @else {
        @include media-up($bp) {
            padding-left: get-space($size);
            padding-right: get-space($size);
        }
    }
}

@mixin py($size, $bp: "none") {
    @if $bp == "none" {
        padding-left: get-space($size);
        padding-right: get-space($size);
    } @else {
        @include media-up($bp) {
            padding-left: get-space($size);
            padding-right: get-space($size);
        }
    }
}

@mixin p($size, $bp: "none") {
    @include px($size, $bp);
    @include py($size, $bp);
}