<template>
    <li :id="`comment-${id}`" class="comment depth-1">
        <article :id="`div-commnet-${id}`" class="comment-body">
            <footer class="comment-meta d-flex">
                <div class="comment-info">
                    <div class="comment-author vcard">
                        <img :src="avatarUrl" class="avatar" />
                        <b class="fn" v-if="website"><a :href="website">{{ name }}</a></b>
                        <b class="fn" v-else>{{ name }}</b>
                        <span class="says">says:</span>
                    </div>
                    <div class="comment-metadata">
                        <a :href="`${postUrl}#comment-${id}`">
                            <time :datetime="date">{{dateText}}</time>
                        </a>
                    </div>
                </div>
                <div class="comment-command ml-auto" v-if="canEditComment() && !editMode">
                    <a href="#" @click.prevent="openEditArea()">Edit</a>
                </div>
            </footer>
            <div class="comment-content" v-html="content.rendered" v-if="!editMode"></div>
            <edit-form v-if="editMode" 
                :originalContent="content.raw" 
                :closeEditArea="closeEditArea"
                :id="id">
            </edit-form>
            <div class="reply" v-show="!isChildren">
                <a rel="nofollow" class="comment-reply-link" :href="`${postUrl}?replytocom=${id}#respond`" @click.prevent="toggleForm()" :aria-label="`Reply to ${name}`">Reply</a>
            </div> 
        </article>
        <ol class="children" v-show="children.length > 0">
            <comment v-for="comment in children"
                v-bind:id="comment.id"
                v-bind:key="comment.id"
                v-bind:date="comment.date"
                v-bind:name="comment.authorName"
                v-bind:avatarUrl="comment.avatarUrl"
                v-bind:website="comment.authorUrl"
                v-bind:content="comment.content"
                v-bind:editable="comment.editable"
                v-bind:children="comment.children"
                v-bind:isChildren="true"
            ></comment>
        </ol>
        <comment-form 
            v-if="showReplyForm"
            v-bind:parent="id"
        ></comment-form>
    </li>
</template>

<script>
    import dateformat from 'dateformat';
    import CommentManager from './CommentManager';

    export default {
        data() {
            return {
                showReplyForm: false,
                editMode: false,
            }
        },

        props: [
            'id',
            'content',
            'date',
            'name',
            'avatarUrl',
            'website',
            'children',
            'isChildren',
            'editable',
        ],

        computed: {
            postUrl() {
                return window.location.href;
            },
            dateText() {
                return dateformat(this.date, "mmmm dS, yyyy at h:MM TT");
            },
        },

        methods: {
            toggleForm() {
                this.showReplyForm = ! this.showReplyForm;
            },

            openEditArea() {
                this.editMode = true;
            },

            closeEditArea() {
                this.editMode = false;
            },

            canEditComment() {
                return this.editable || CommentManager.currentUserCanEditComment();
            },
        }
    }
</script>