<template>
    <div class="comment-respond">
		<form method="post" id="commentform" class="comment-form" novalidate>
			<div class="form-group comment-form-comment">
				<textarea class="form-control" id="comment" name="comment" aria-required="true" cols="45" rows="8" v-model="text"></textarea>
			</div>
			<p class="form-submit text-right">
                <input name="submit" type="button" id="cancel" class="btn btn-secondary" value="Cancel" @click.prevent="closeEditArea()" />
				<input name="submit" type="submit" id="submit" class="btn btn-primary" value="Edit Comment" @click.prevent="submit()" />
				<input type='hidden' name='comment_post_ID' id='comment_post_ID' :value="postID" />
			</p>
		</form>
	</div>
</template>

<script>
    import $ from 'cash-dom';
    import axios from 'axios';
    import CommentManager from './CommentManager';

    export default {
        data() {
            return {
                'text': '',
                postID,
            }
        },

        props: [
            'id',
            'parent',
            'originalContent',
            'closeEditArea',
        ],

        created() {
            this.text = this.originalContent;
        },

        methods: {
            submit() {
                axios.request({
                    url: apiUrl + 'comments/' + this.id,
                    method: 'POST',
                    headers: {
                        'X-WP-Nonce': restNonce,
                    },
                    data: {
                        content: this.text,
                    }
                })
                .then(res => {
                    this.text = '';
                    CommentManager.edit(res.data, true);
                    CommentManager.list();
                    this.closeEditArea();
                }).catch(e => {
                    console.log(e);
                })
            }
        }
    }
</script>