<template>
    <div :id="formID" class="comment-respond">
		<h3 id="reply-title" class="comment-reply-title">Leave a Reply</h3>
		<form method="post" id="commentform" class="comment-form" novalidate>
			<div class="form-group comment-form-comment">
				<label for="comment">Comment <span class="required">*</span></label>
				<textarea class="form-control" id="comment" name="comment" aria-required="true" cols="45" rows="8" v-model="text"></textarea>
			</div>
            <template v-if="!loggedIn">
                <div class="form-group comment-form-author">
                    <label for="author">Name <span class="required">*</span></label>
                    <input class="form-control" name="author" type="text" size="30" aria-required='true' v-model="author">
                </div>
                <div class="form-group comment-form-email">
                    <label for="email">Email <span class="required">*</span></label>
                    <input class="form-control" name="email" type="email" size="30" aria-required='true' v-model="email">
                </div>
                <div class="form-group comment-form-url">
                    <label for="url">Website</label>
                    <input class="form-control" name="url" type="url" size="30" v-model="website">
                </div>
            </template>
			<p class="form-submit">
				<input name="submit" type="submit" id="submit" class="btn btn-secondary" value="Post Comment" @click.prevent="submit()" />
				<input type='hidden' name='comment_post_ID' id='comment_post_ID' :value="postID" />
				<input type='hidden' name='comment_parent' id='comment_parent' :value="parentID" />
			</p>
		</form>
	</div>
</template>

<script>
    import $ from 'cash-dom';
    import axios from 'axios';
    import CommentManager from './CommentManager';

    export default {
        data() {
            return {
                'author': '',
                'email': '',
                'website': '',
                'text': '',
                postID,
                parentID: this.parent ? this.parent : 0,
            }
        },

        props: [
            'parent',
        ],

        computed: {
            loggedIn() {
                return $('body').hasClass('logged-in');
            },

            formID() {
                return this.parent ? `respond-${this.parent}` : `respond-0`;
            }
        },

        methods: {
            submit() {
                axios.request({
                    url: apiUrl + 'comments',
                    method: 'POST',
                    headers: {
                        'X-WP-Nonce': restNonce,
                    },
                    data: {
                        author_name: this.author,
                        author_email: this.email,
                        author_url: this.website,
                        content: this.text,
                        post: this.postID,
                        parent: this.parentID,
                    }
                })
                .then(res => {
                    this.text = '';
                    CommentManager.add(res.data, true);
                    CommentManager.list();
                }).catch(e => {
                    console.log(e);
                })
            }
        }
    }
</script>