<template>
    <div class="comments">
        <h2 class="comments-title" v-if="count == 0">No Comment</h2>
        <h2 class="comments-title" v-if="count == 1">1 Comment</h2>
        <h2 class="comments-title" v-if="count > 1">{{ count }} Comments</h2>
        <ol class="comment-list">
            <comment v-for="comment in comments"
                v-bind:id="comment.id"
                v-bind:key="comment.id"
                v-bind:date="comment.date"
                v-bind:name="comment.authorName"
                v-bind:avatarUrl="comment.avatarUrl"
                v-bind:website="comment.authorUrl"
                v-bind:content="comment.content"
                v-bind:editable="comment.editable"
                v-bind:children="comment.children"
            ></comment>
        </ol>
        <comment-form></comment-form>
    </div>
</template>

<script>
    import axios from 'axios';
    import CommentManager from './CommentManager';

    export default {
        data() {
            return {
                'comments': [],
                count: 0,
            }
        },
        created() {
            axios.get(kstrapApiUrl + 'comments/all/' + postID).then(res => {
                CommentManager.init(res.data);
                CommentManager.__list = this;
                CommentManager.list();
            });

            axios.get(kstrapApiUrl + 'comments/count/' + postID)
            .then(res => {
                this.count = res.data;
            })
        },
    }
</script>
